### Vagrant stuff ###
.vagrant
acceptance_config.yml
vagrant-spec.config.rb

### OSX ###
.AppleDouble
.DS_Store
.LSOverride

### Thumbnails ###
._*

### Files that might appear on external disk ###
.Spotlight-V100
.Trashes

### Directories potentially created on remote AFP share ###
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

### Created by http://www.gitignore.io ###
*.css.map
*.log
*.sql
*.zip
.phpintel
.sass-cache
.tmp
advanced-cache.php
cache
npm-debug.log
object-cache.php
.config/karabiner/automatic_backups
